.site-whole {
    height: 100%;
    width: 100%;
}

.site-container {
    min-width: 80%;
    max-width: 90%;
    position: absolute;
    left: 5%;
    right: 5%;
    border: 1px solid black;
    background-color: white;
}

.margin1 {
    margin: 1%;
}

.margin5 {
    margin: 5%;
}

.headers {
    min-height: 5%;
}

.header-buttons {
    min-height: 10px;
}

.clear {
    clear: both;
}

.body-content {
    height: 70%;
}

.main-content {
    min-width: 70%;
    width: 85%;
    max-width: 85%;
    float: left;
}

.main-inner {
    width: 90%;
    height: 90%;
    clear: both;
    margin: 1%;
}

.side-content {
    min-width: 10%;
    max-width: 15%;
    float: left;
}

.archive-content {
    margin: 3%;
    min-height: 30%;
}

.footer-content {
    clear: both;
    height: 5%;
}

.banner-img {
    height: 100%;
    width: 100%;
}

.footer-img {

    height: 100%;
    width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.blog-title {
    min-width: 400px;
}

.blog-content {
    width: 600px;
    height: 300px;
    max-width: 1100px;
}

.site-post-content {
    word-wrap: break-word;
    overflow: hidden;
}

.comment-textarea {
    width: 320px;
    height: 90px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}