<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
	                    http://www.springframework.org/schema/tx 
	                    http://www.springframework.org/schema/tx/spring-tx.xsd
					    http://www.springframework.org/schema/context
					    http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx">
	
    
	<!--     model -->
    <bean id="cmsUser" class="com.jiro.model.CmsUser" scope="prototype" />
    <bean id="cmsUserType" class="com.jiro.model.CmsUserType" scope="prototype" />
    <bean id="cmsTemplates" class="com.jiro.model.CmsTemplates" scope="prototype" />
    <bean id="cmsUserSite" class="com.jiro.model.CmsUserSite" scope="prototype" />
    <bean id="siteUser" class="com.jiro.model.SiteUser" scope="prototype" />
    <bean id="sitePost" class="com.jiro.model.SitePost" scope="prototype" />
    <bean id="siteComment" class="com.jiro.model.SiteComment" scope="prototype" />
    
    
	<!--     dao -->
    <bean id="cmsUserDao" class="com.jiro.dao.CmsUserDao" scope="prototype" />
    <bean id="cmsUserTypeDao" class="com.jiro.dao.CmsUserTypeDao" scope="prototype" />
    <bean id="cmsUserSiteDao" class="com.jiro.dao.CmsUserSiteDao" scope="prototype" />
    <bean id="cmsTemplatesDao" class="com.jiro.dao.CmsTemplatesDao" scope="prototype" />
    <bean id="siteUserDao" class="com.jiro.dao.SiteUserDao" scope="prototype" />
    <bean id="sitePostDao" class="com.jiro.dao.SitePostDao" scope="prototype" />
    <bean id="siteCommentDao" class="com.jiro.dao.SiteCommentDao" scope="prototype" />
    <bean id="siteSettingsDao" class="com.jiro.dao.SiteSettingsDao" scope="prototype" />
    
    <bean id="genericDao" abstract="true" class="com.jiro.dao.GenericDaoImpl" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!--     service -->
    <bean id="cmsUserService" class="com.jiro.service.CmsUserServiceImpl" scope="prototype">
    	<property name="cmsUserDao" ref="cmsUserDao" />
    	<property name="cmsUserTypeService" ref="cmsUserTypeService" />
    </bean>
    
    <bean id="cmsUserTypeService" class="com.jiro.service.CmsUserTypeServiceImpl" scope="prototype">
    	<property name="cmsUserTypeDao" ref="cmsUserTypeDao"/>
    </bean>
    
    <bean id="cmsTemplatesService" class="com.jiro.service.CmsTemplatesServiceImpl" scope="prototype">
    	<property name="cmsTemplatesDao" ref="cmsTemplatesDao"/>
    </bean>
    
    <bean id="cmsUserSiteService" class="com.jiro.service.CmsUserSiteServiceImpl" scope="prototype">
    	<property name="cmsUserSiteDao" ref="cmsUserSiteDao" />
    	<property name="sitePostService" ref="sitePostService" />
    	<property name="siteUserService" ref="siteUserService" />
    </bean>
    
    <bean id="siteUserService" class="com.jiro.service.SiteUserServiceImpl">
    	<property name="siteUserDao" ref="siteUserDao" />
    </bean>    
    
    <bean id="sitePostService" class="com.jiro.service.SitePostServiceImpl">
    	<property name="sitePostDao" ref="sitePostDao" />
    </bean>
    
    <bean id="siteCommentService" class="com.jiro.service.SiteCommentServiceImpl">
    	<property name="siteCommentDao" ref="siteCommentDao" />
    </bean>    
    
    <bean id="siteSettingsService" class="com.jiro.service.SiteSettingsServiceImpl">
    	<property name="siteSettingsDao" ref="siteSettingsDao" />
    </bean>    
    
	<!--     action -->
    <bean id="registerCms" class="com.jiro.action.RegisterAction" scope="prototype">
    	<property name="cmsUserService" ref="cmsUserService" />
    	<property name="cmsTemplatesService" ref="cmsTemplatesService"/>
    	<property name="cmsUserTypeService" ref="cmsUserTypeService" />
    </bean>
    
    <bean id="newBlogSite" class="com.jiro.action.CreateNewBlogSiteAction" scope="prototype">
    	<property name="cmsTemplatesService" ref="cmsTemplatesService"/>
    </bean>
    
    <bean id="loginAction" class="com.jiro.action.LoginAction" scope="prototype">
    	<property name="cmsUserService" ref="cmsUserService" />
    </bean>
    
    <bean id="userSiteAction" class="com.jiro.action.BlogUrlAction" scope="prototype">
    	<property name="cmsUserSiteService" ref="cmsUserSiteService" />
    	<property name="cmsTemplatesService" ref="cmsTemplatesService" />
    </bean>
    
    <bean id="checkBlogUrl" class="com.jiro.action.CheckBlogUrlAction" scope="prototype">
    	<property name="cmsUserSiteService" ref="cmsUserSiteService" />
    </bean>
    
    <bean id="blogPostAction" class="com.jiro.action.PostPreviewAction" scope="prototype">
    	<property name="sitePostService" ref="sitePostService" />
    </bean>
    
    <bean id="siteImgAction" class="com.jiro.action.SiteImageAction" scope="prototype">
    	<property name="siteSettingsService" ref="siteSettingsService" />
    </bean>
    
    <bean id="postContentAction" class="com.jiro.action.PostContentAction" scope="prototype">
    	<property name="sitePostService" ref="sitePostService" />
    </bean>
    

	<!-- 	settings -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<tx:annotation-driven proxy-target-class="true"/>
		
	<context:component-scan base-package="com.jiro.dao" />
	<context:component-scan base-package="com.jiro.service" />
	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource "
		abstract="false" lazy-init="default" autowire="default"
		p:url="jdbc:mysql://localhost:3306/cms"
		p:driverClassName="com.mysql.jdbc.Driver" p:username="root"
		p:password="12345">
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" p:dataSource-ref="dataSource">		
		<property name="packagesToScan" value="com.jiro.model"></property>
	    <property name="hibernateProperties">
	        <props>
	            <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
	            <prop key="hibernate.show_sql">true</prop>
	        </props>
	    </property>
	</bean>

</beans>